.siteHeader {
    padding-top: 200px;
    background-image: url("/images/photo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.siteHeader h1 {
    margin: 0;
    background: #F9D932;
    padding: 15px;
    text-align: center;
}

.logo {
    max-width: 400px;
}

@media screen and (min-width: 700px) {
     .siteHeader {
         padding-top: 300px;
     }   
}